<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${msg}"></h1>
<div th:with="num1 = ${10}, num2= ${20}">
    <h4 th:text="${num1 + num2}"></h4>
</div>
<h4 th:text="${param.name}"></h4>
<h4 th:text="${param.age}"></h4>
<h4 th:text="'name: ' + ${param.name}"></h4>
<h4 th:text="'age: ' + ${param.age}"></h4>

<ul>
    <th:block th:each="str: ${param.types}">
        <li>[[${str}]]</li>
    </th:block>
</ul>

<ul>
    <li th:each="str: ${param.types}" th:text="${str}"></li>
</ul>

</body>
</html>